<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CellAutomata.Life.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CellAutomata.Life.Models.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AnimationType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnimationDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="KnownLifePreset" serializeAs="String">
                <value>0</value>
            </setting>
        </CellAutomata.Life.Models.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
